<h1>Teacher#edit</h1>
<%=form_for @teacher do |f|%>
<label>Name: </label>
<%=f.text_field :name%>
<%=f.submit "Update"%>
<%end%>
<br>
<%=button_to "Delete", delete_teacher_path(@teacher.id), method: "delete"%>